{% extends 'main/base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="features">
        <h1>Смена пароля</h1>
        <form method="post" class="user_edit_profile_form">
            {% csrf_token %}
            <p>Старый пароль: {{ form.old_password }}</p>
            <p>Новый пароль: {{ form.new_password }}</p>
            <p>Подтвердить пароль: {{ form.confirm_new_password }}</p>
            {% for error in form.error_messages.values %}
                {{ error }}
            {% endfor %}
            <p><button type="submit">Сохранить изменения</button></p>
        </form>
    </div>
{% endblock %}