{% extends 'main/base.html' %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}
    <div class="features">
        <h1>Редактирование профиля</h1>
        <form method="post">
            {% csrf_token %}
            <p>Имя пользователя: {{ form.username }}</p>
            <p>Имя: {{ form.first_name }}</p>
            <p>Фамилия: {{ form.last_name }}</p>
            <p>Email: {{ form.email }}</p>
            <p><button type="submit">Сохранить изменения</button></p>
        </form>
    </div>
{% endblock %}