{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>

{% if user.is_authenticated %}
    <button onclick="location.href='{% url 'user_logout' %}?next=/profile'">Выйти</button>
    <a href={% url 'user_profile' %}>{{ user.username }}</a>
{% else %}
    <a href={% url 'user_registration' %}>Регистрация на сайте</a>
    <a href={% url 'user_login' %}>Авторизация</a>
{% endif %}

<body>
    <aside>
        <img src="{% static 'main/img/TCS_Logo.jpg' %}" alt="Лого">
        <span class="logo">Tea&Coffee Store</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'about' %}"><li>О нас</li></a>
            <a href=""><li>Навигация</li></a>
            <a href="{% url 'products' %}"><li>Товары</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>