{% extends 'main/base.html' %}
{% load static %}

{% block title %}Товар{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

    <div class="features">
        <div class="products_container">
            <h3>{{ product.product_name }}</h3>
            <p>{{ product.product_vendor_code }}</p>
            <p>{{ product.product_category }}</p>
            <p>{{ product.product_sub_category }}</p>
            <p>{{ product.product_package }}</p>
            <p>{{ product.product_net_weight }}</p>
            <p>{{ product.product_full_category }}</p>
            <p>{{ product.product_price }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="В корзину">
                    </form>
                {% endif %}
            <p>{{ product.product_description }}</p>
        </div>
    </div>
{% endblock content %}