{% extends 'main/base.html' %}
{% load static %}

{% block title %}Товары{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

    <div class="features">
        <h1>Товары</h1>
        {% if products %}
            {% for prod in products %}
                <div class="products_container">
                    <a href="{% url 'product_detailed' prod.id %}">{{ prod.product_name }}</a>
                    <p>{{ prod.product_vendor_code }}</p>
                    <p>{{ prod.product_category }}</p>
                    <p>{{ prod.product_sub_category }}</p>
                    <p>{{ prod.product_package }}</p>
                    <p>{{ prod.product_net_weight }}</p>
                    <p>{{ prod.product_price }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет товаров</p>
        {% endif %}


    </div>
{% endblock %}